# Database Configuration
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=Batara48
DB_DATABASE=jdih
DB_PORT=3306

# Application Configuration
NODE_ENV=development
PORT=3000

# Next.js Configuration
NEXT_APP_DOMAIN=http://localhost:3000
NEXT_APP_JDIH_PATH=/path/to/your/jdih/files/

# Firebase Configuration (if needed)
NEXT_PUBLIC_FIREBASE_PUBLIC_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id

# Security
TOKEN_SECRET=your_secret_token_here 